
h2 {color: blue;
}
#Albert {font-size: 50px;
}
#life {font-size: 30px;
}
#Albert {font-family: Monospace;
}
#life {font-family: nm}
#main {background-color: lightgrey;
}
#Shuvo {font-family: sans;
}
